# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a package using Gradle and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#Publishing-using-gradle

name: Gradle Package

on:
  release:
    types: [created]
  push: 
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      actions: write
      checks: write
      contents: write
      deployments: write
      issues: write
      packages: write
      pull-requests: write
      repository-projects: write
      security-events: write
      statuses: write
      
    env: 
      SPRING_DATASOURCE_URL: jdbc:mariadb://localhost:3306/webdb_1
      SPRING_DATASOURCE_USERNAME: webuser2
      SPRING_DATASOURCE_PASSWORD: webuser2
      SPRING_DATASOURCE_DRIVER_CLASS_NAME: org.mariadb.jdbc.Driver

    steps:
    - name: Create user-defined network
      run: docker network create my_network 
    - name: Run MariaDB container
      run: |
        docker run --name mariadb --network my_network -e MYSQL_ROOT_PASSWORD=root -e MYSQL_DATABASE=webdb_1 -e MYSQL_USER=webuser2 -e MYSQL_PASSWORD=webuser2 -p 3306:3306 -d mariadb:11.0.2
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
        settings-path: ${{ github.workspace }} # location for the settings.xml file

    - name: Build with Gradle
      uses: gradle/gradle-build-action@bd5760595778326ba7f1441bcf7e88b49de61a25 # v2.6.0
      with:
        arguments: build

    - name: Publish Unit Test Results
      uses: EnricoMi/publish-unit-test-result-action@v2
      if: always() # 이 액션을 항상 실행하도록 설정, 실패한 경우에도
      with:
        files: ./build/test-results/test/*.xml
